<div #seatContainer style="position: relative; width: 100%; height: 500px;" [ngStyle]="{'width.px': maxX, 'height.px': maxY}">
    <app-sidebar-menu></app-sidebar-menu>


    <div *ngFor="let seat of seatsPrint"
        style="width: 20px; height: 26px; border: solid 1px #E1E3EC; position: absolute; font-size: 7px; text-align: center; align-content: center; border-radius: 3px;"
        [ngStyle]="{'top.px': seat.Y, 'left.px': seat.X}"
    >
        {{seat.SeatNumber}}
    </div>

</div>

<div *ngIf="seatImage">
    <h2>Imagen Generada:</h2>
    <img [src]="seatImage" alt="Seat Layout"/>
</div>