
<div class="col-12 col-md-10 col-lg-7 pt-3 mx-auto" style="min-height: 100vh;">


    <div class="position-absolute top-0 end-0 mt-3 me-3 d-none d-lg-block">
        <!-- <button class="goBackButton" (click)="goBack()">Volver</button> -->
        <button
          type="button"
          class="btn btn-light rounded-pill d-inline-flex align-items-center"
          (click)="goBack()"
        >
          <img src="assets/icons/iconamoon_arrow-up-2-duotone.svg" class="me-2"/> Volver
        </button>
    </div>

    <div class="col-12">

        <div class="card w-100 card-movie">
          <div class="card-body position-relative">

            <div class="cont-img position-absolute">

              <img src="data:img/png;base64,{{peliAcutal.Poster}}" alt="" class="img-card">

            </div>
            
            <div class="cont-inf position-absolute">
              <span class="text-sala">{{showActual.ScreenName}}</span>
              <span class="text-movie">{{peliAcutal.Title}}</span>
              <span class="text-hora">Hora {{showActual.StartTime}}</span>
            </div>

            <div class="cont-type position-absolute" *ngIf="showActual.StatusPeli == 1">
                <span class="badge rounded-pill text-bg-primary badge-1">Por empezar</span>
            </div>

            <div class="cont-type position-absolute" *ngIf="showActual.StatusPeli == 2">
                <span class="badge rounded-pill text-bg-primary badge-2">En Transcurso</span>
            </div>
            
            <div class="cont-type position-absolute" *ngIf="showActual.StatusPeli == 3">
              <span class="badge rounded-pill text-bg-primary badge-3">Por Terminar</span>
            </div>

            <div class="cont-type position-absolute" *ngIf="showActual.StatusPeli == 0">
              <span class="badge rounded-pill text-bg-primary badge-0">Finalizada</span>
            </div>

            <div class="cont-loading" *ngIf="showActual.StatusPeli == 2 || showActual.StatusPeli == 3">
              <div class="loading-movie">
                <div class="loading-bar" [ngStyle]="{'width': showActual.Progress + '%'}"></div>
              </div>
            </div>

            <ng-container *ngIf="showActual.StatusPeli == 1">

                <div class="cont-inf-2 position-absolute">
                    <span>Duración </span>
                    <span>{{showActual.TotalMinutes}}</span>
                  </div>
    
                <div class="cont-inf-3 position-absolute">
                    <span>Comienza en </span>
                    <span>{{showActual.Starts}}</span>
                </div>

            </ng-container>

            <ng-container *ngIf="showActual.StatusPeli == 2 || showActual.StatusPeli == 3">
            
                <div class="cont-inf-2 position-absolute">
                <span>Transcurrido </span>
                <span>{{showActual.Elapsed}}</span>
                </div>

                <div class="cont-inf-3 position-absolute">
                <span>Restante </span>
                <span>{{showActual.Remaining}}</span>
                </div>

            </ng-container>

            
            
          </div>
        </div>

    </div>
    
    <div class="col-12">

        <div style="overflow: hidden; position: relative; z-index: 1;">

            <div #seatContainer style="position: absolute; content-visibility: hidden; background: transparent;"
                [ngStyle]="{'width.px': maxX, 'height.px': maxY}">
        
                <div *ngFor="let seat of seatsPrint"
                    style="width: 20px; height: 26px; position: absolute; font-size: 7px; text-align: center; align-content: center; border-radius: 3px;"
                    [ngStyle]="{'top.px': seat.Y, 'left.px': seat.X}"
                    [ngClass]="{
                      'available': seat.Status.toLowerCase() === 'available',
                      'sold': seat.Status.toLowerCase() === 'sold',
                      'blocked': seat.Status.toLowerCase() === 'blocked',
                      'entered': seat.Status.toLowerCase() === 'entered'
                    }"
                >
                    {{seat.SeatNumber}}
                </div>
        
                <div *ngFor="let letter of letters"
                    style="width: 20px; height: 26px; border: solid 1px transparent; position: absolute; font-size: 10px; font-weight: 400; text-align: center; align-content: center; border-radius: 3px; color: #7F859C;"
                    [ngStyle]="{'top.px': letter.Y, 'left.px': letter.X}"
                >
                    {{letter.letter}}
                </div>
        
            </div>
        
        </div>
        
        <div *ngIf="seatImage" style="z-index: 2;" class="position-relative text-center">
            <img [src]="seatImage" alt="Seat Layout" style="width: auto; max-width: 100%; object-fit: contain;"/>
        </div>

    </div>

    <!-- <div class="seatState">
      <div class="d-flex flex-wrap justify-content-center align-items-center my-3">
      <div class="d-flex align-items-center mx-2">
        <span style="width: 15px; height: 15px; background-color: #FFFFFF; display: inline-block; border: 1px solid #ccc; border-radius: 20%;"></span>
        <span class="ms-2">Disponible</span>
      </div>
      <div class="d-flex align-items-center mx-2">
        <span style="width: 15px; height: 15px; background-color: #adbaf1; display: inline-block; border-radius: 20%;"></span>
        <span class="ms-2">Vendida</span>
      </div>
      <div class="d-flex align-items-center mx-2">
        <span style="width: 15px; height: 15px; background-color: #ff7d7d; display: inline-block; border-radius: 20%;"></span>
        <span class="ms-2">Bloqueada</span>
      </div>
      <div class="d-flex align-items-center mx-2">
        <span style="width: 15px; height: 15px; background-color: #0038ff; display: inline-block; border-radius: 20%;"></span>
        <span class="ms-2">Ingresada</span>
      </div>
    </div>
  </div> -->

  <div class="seatState" style="text-align: center;">
    <div class="row justify-content-center my-3">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex align-items-center justify-content-center mb-2">
        <span class="leyenda available"></span>
        <span class="ms-2">Disponible</span>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex align-items-center justify-content-center mb-2">
        <span class="leyenda sold"></span>
        <span class="ms-2">Vendida</span>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex align-items-center justify-content-center mb-2">
        <span class="leyenda blocked"></span>
        <span class="ms-2">Bloqueada</span>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex align-items-center justify-content-center mb-2">
        <span class="leyenda entered"></span>
        <span class="ms-2">Ingresada</span>
      </div>
    </div>
  </div>

</div>

<app-sidebar-menu></app-sidebar-menu>
<app-loading></app-loading>