<div class="login-view">
    <div class="login-container">
  
      <!-- Formulario -->
      <div class="logo">
        <img src="./images/cinestar_logo.png" alt="Logo de la empresa" />
      </div>
      <div class="form-container">
        <div class="error-box" *ngIf="showError" @fadeInOut>
            <i class="bi bi-x-circle-fill fs-3"></i>
            <span>Error al intentar ingresar</span>
          </div>
          
          <form (submit)="onSubmit($event)">
            <!-- Campo de Usuario -->
            <div class="form-group" [ngClass]="{'error': isUserError}">
              <label for="usuario" class="form-label">Usuario</label>
              <span class="input-icon">
                <i class="bi bi-person-fill"></i>
              </span>
              <input
                type="text"
                id="usuario"
                name="username"
                placeholder="Ingresa tu usuario"
                class="form-control"
                [(ngModel)]="username"
                (input)="resetError()"
              />
              <div class="error-message" *ngIf="isUserError">Usuario Incorrecto</div>
            </div>
          
            <!-- Campo de Clave -->
            <div class="form-group" [ngClass]="{'error': isPasswordError}">
              <label for="clave" class="form-label">Clave</label>
              <span class="input-icon">
                <i class="bi bi-lock-fill"></i>
              </span>
              <input
                type="password"
                id="clave"
                name="password"
                placeholder="Ingresa tu clave"
                class="form-control"
                [(ngModel)]="password"
                (input)="resetError()"
              />
              <div class="error-message" *ngIf="isPasswordError">Clave Incorrecta</div>
            </div>
          
            <!-- Botón Ingresar -->
            <button type="submit" class="btn-ingresar">Ingresar</button>
          </form>
          
          
      </div>
    </div>
  </div>
  