<div class="catalogo-view">
  <!-- Logo de la empresa -->
  <div class="logo">
    <img
      src="./images/cinestar_logo.png"
      alt="Logo de la empresa"
      class="logo-img"
    />
  </div>

  <!-- Filtros -->
  <div class="filters-container">
    <div class="filter">
      <select
        class="form-select filter-select"
        aria-label="Selecciona una fecha"
      >
        <option selected disabled>Fecha</option>
        <option value="1">10/12/2024</option>
        <option value="2">11/12/2024</option>
        <option value="3">12/12/2024</option>
      </select>
      <i class="bi bi-calendar3 filter-icon"></i>
    </div>
    <div class="filter">
      <select
        class="form-select filter-select"
        aria-label="Selecciona una hora"
      >
        <option selected disabled>Hora</option>
        <option value="1">10:00 AM</option>
        <option value="2">12:30 PM</option>
        <option value="3">03:45 PM</option>
      </select>
      <i class="bi bi-clock filter-icon"></i>
    </div>
    <div class="filter">
      <input
        type="text"
        class="form-control filter-input"
        placeholder="Película"
      />
      <i class="bi bi-film filter-icon"></i>
    </div>
  </div>

  <!-- Indicadores de estado -->
  <div class="status-container">
    <div class="status">
      <i class="bi bi-circle-fill status-icon start"></i>
      <span>Por Empezar</span>
    </div>
    <div class="status">
      <i class="bi bi-circle-fill status-icon ongoing"></i>
      <span>En Transcurso</span>
    </div>
    <div class="status">
      <i class="bi bi-circle-fill status-icon end"></i>
      <span>Por Terminar</span>
    </div>
  </div>

  <!-- Contenedor de tarjetas -->
  <div class="movies-container">
    <div *ngFor="let pelicula of peliculas" class="movie-card">
      <!-- Parte superior de la tarjeta -->
      <div class="movie-card-header">
        <div class="movie-card-info">
          <img [src]="pelicula.imagen" alt="Póster" class="movie-card-img" />
          <div class="movie-card-text">
            <div class="room" [style.color]="'#0139ff'">
              Sala {{ pelicula.sala }}
            </div>
            <div class="title" [style.color]="'#787879'">
              {{ pelicula.nombre }}
            </div>
            <div class="time" [style.color]="'#787879'">
              Hora {{ pelicula.hora }}
            </div>
          </div>
        </div>
        <div
          class="movie-card-status"
          [ngStyle]="{
            'background-color':
              pelicula.estado === 'Por Empezar' ? '#0139ff' : '#aab3d0'
          }"
        >
          <div class="movie-card-status-text">{{ pelicula.estado }}</div>
        </div>
      </div>

      <!-- Parte inferior de la tarjeta -->
      <div class="movie-card-footer">
        <div class="duration">
          Duración: <strong>{{ pelicula.duracion }}</strong>
        </div>
        <div class="starts-in">Comienza en <strong>1h 35min</strong></div>
      </div>
    </div>
  </div>
</div>

<app-sidebar-menu></app-sidebar-menu>
<app-loading></app-loading>