<div class="col-12 col-md-10 col-lg-10 pt-5 mx-auto" style="min-height: 100vh;">

  <!-- Logo -->
  <div class="row mx-0 mb-3">
    <div class="col-12 text-center">
      <img
        src="./images/cinestar_logo.png"
        alt="Logo de la empresa"
        class="img-logo"
      />
    </div>
  </div>

  <!-- Inputs -->
  <div class="row mx-0 mb-3">

    <div class="col-12 col-md-4 mb-3 position-relative">

      <input
				class="form-control"
				placeholder="yyyy-mm-dd"
				name="dp"
				[(ngModel)]="model"
				ngbDatepicker
				#d="ngbDatepicker"
        placement="bottom"
        (ngModelChange)="DateInput($event)"
			/>
      <div class="position-relative" style="top: -38px;">
        <button class="btn btn-outline-secondary bi bi-calendar3 w-100 position-absolute" id="calendarPicker" (click)="d.toggle()" type="button">{{model.day < 10 ? "0" + model.day : model.day }}/{{model.month < 10 ? "0" + model.month : model.month }}/{{model.year}}</button>
      </div>

    </div>

    <div class="col-12 col-md-4 mb-3">

      <select class="form-select" aria-label="Default select example" (change)="FilterTime($event)">
        <option selected value="">Todas</option>
        <option *ngFor="let time of times_movie" [value]="time">{{time}}</option>
      </select>

    </div>

    <div class="col-12 col-md-4 mb-3">

      <div class="form-group">
        <input
          id="movieInput"
          type="text"
          class="form-control"
          autocomplete="off"
          [(ngModel)]="searchTerm"
          placeholder="Pelicula"
          (input)="SearchTermMovie()"
        >
      </div>

    </div>
  </div>

  <!-- Peliculas -->
  <div class="row mx-0" >

    <div class="col-12 px-0" *ngIf="cardLoading">
      <div class="row mx-0">

        <div class="col-12 col-md-6 col-lg-4 mb-3 px-0">
          <div class="row mx-0">
    
            <div class="col-12 text-center mb-4">
              <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(0, 56, 255, 1);"></div>
              <span>
                Por empezar
              </span>
            </div>
    
            <div class="col-12">
    
              <div class="card w-100 card-movie card-loading mb-3">
    
                <div class="card-body position-relative">
    
                  <div class="cont-img position-absolute">
    
                    <div class="img-card" style="background-color: rgba(82, 105, 187, 1); height: 90px;"></div>
    
                  </div>
                  
                  <div class="cont-inf position-absolute">
    
                    <div class="text-loading"></div>
                    <div class="text-loading"></div>
                    <div class="text-loading"></div>
    
                  </div>
    
                  <div class="cont-type position-absolute">
                    <div class="text-loading"></div>
                  </div>
    
                  <div class="cont-inf-3 position-absolute">
                    <div class="text-2-loading"></div>
                  </div>
                  
                  <div class="cont-inf-2 position-absolute">
                    <div class="text-2-loading"></div>
                  </div>
                  
                </div>
              </div>
    
            </div>
    
          </div>
    
        </div>
    
        <div class="col-12 col-md-6 col-lg-4 mb-3 px-0">
          <div class="row mx-0">
    
            <div class="col-12 text-center mb-4">
              <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(170, 179, 208, 1);"></div>
              <span>
                En Transcurso
              </span>
            </div>
    
            <div class="col-12">
    
              <div class="card w-100 card-movie card-loading mb-3">
    
                <div class="card-body position-relative">
    
                  <div class="cont-img position-absolute">
    
                    <div class="img-card" style="background-color: rgba(82, 105, 187, 1); height: 90px;"></div>
    
                  </div>
                  
                  <div class="cont-inf position-absolute">
    
                    <div class="text-loading"></div>
                    <div class="text-loading"></div>
                    <div class="text-loading"></div>
    
                  </div>
    
                  <div class="cont-type position-absolute">
                    <div class="text-loading"></div>
                  </div>
    
                  <div class="cont-inf-3 position-absolute">
                    <div class="text-2-loading"></div>
                  </div>
                  
                  <div class="cont-inf-2 position-absolute">
                    <div class="text-2-loading"></div>
                  </div>
                  
                </div>
              </div>
    
            </div>
    
          </div>
    
        </div>
    
        <div class="col-12 col-md-6 col-lg-4 mb-3 px-0">
          <div class="row mx-0">
    
            <div class="col-12 text-center mb-4">
              <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(82, 105, 187, 1);"></div>
              <span>
                Por Terminar
              </span>
            </div>
    
            <div class="col-12">
    
              <div class="card w-100 card-movie card-loading mb-3">
    
                <div class="card-body position-relative">
    
                  <div class="cont-img position-absolute">
    
                    <div class="img-card" style="background-color: rgba(82, 105, 187, 1); height: 90px;"></div>
    
                  </div>
                  
                  <div class="cont-inf position-absolute">
    
                    <div class="text-loading"></div>
                    <div class="text-loading"></div>
                    <div class="text-loading"></div>
    
                  </div>
    
                  <div class="cont-type position-absolute">
                    <div class="text-loading"></div>
                  </div>
    
                  <div class="cont-inf-3 position-absolute">
                    <div class="text-2-loading"></div>
                  </div>
                  
                  <div class="cont-inf-2 position-absolute">
                    <div class="text-2-loading"></div>
                  </div>
                  
                </div>
              </div>
    
            </div>
    
          </div>
    
        </div>

      </div>

    </div>
    

    <div class="col-12 px-0" *ngIf="!cardLoading">

      <div class="row mx-0 justify-content-center">

        <!-- Por Empezar -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 px-0" *ngIf="toStart.length > 0">
          <div class="row mx-0">

            <div class="col-12 text-center mb-4" *ngIf="!isPast">
              <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(0, 56, 255, 1);"></div>
              <span>
                Por empezar
              </span>
            </div>

            <div class="col-12">

              <div class="card w-100 card-movie mb-3" *ngFor="let movie of toStart" (click)="redirectToSeats(movie.FeatureId, movie.ScheduleId, movie.ScheduleDate)" [ngClass]="{ 'noSold': movie.IsSold }">

                <div class="card-body position-relative">

                  <div class="cont-img position-absolute">

                    <img src="data:img/png;base64,{{movie.Poster}}" alt="" class="img-card">

                  </div>
                  
                  <div class="cont-inf position-absolute">
                    <span class="text-sala">
                      <img src="/assets/icons/rivet-icons_caution.svg" alt="" *ngIf="movie.IsSold"> {{movie.ScreenName}}
                    </span>
                    <span class="text-movie">{{movie.Title}}</span>
                    <span class="text-hora">Hora {{movie.StartTime}}</span>
                  </div>

                  <div class="cont-type position-absolute"*ngIf="!isPast">
                    <span class="badge rounded-pill text-bg-primary badge-1">Por empezar</span>
                  </div>
                  
                  <div class="cont-inf-2 position-absolute">
                    <span>Duración </span>
                    <span>{{movie.TotalMinutes}}</span>
                  </div>

                  <div class="cont-inf-3 position-absolute" *ngIf="!isPast">
                    <span>Comienza en </span>
                    <span>{{movie.Starts}}</span>
                  </div>

                  <div class="no_sold text-center position-absolute bottom-0 start-0 w-100" *ngIf="movie.IsSold">
                    <span>No hay entradas Vendidas</span>
                  </div>
                  
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- En Transcurso -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 px-0"  *ngIf="inProgress.length > 0">
          <div class="row mx-0">

            <div class="col-12 text-center mb-4">
              <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(170, 179, 208, 1);"></div>
              <span>
                En transcurso
              </span>
            </div>

            <div class="col-12">

              <div class="card w-100 card-movie mb-3" *ngFor="let movie of inProgress" (click)="redirectToSeats(movie.FeatureId, movie.ScheduleId, movie.ScheduleDate)"  [ngClass]="{ 'noSold': movie.IsSold }">
                <div class="card-body position-relative">

                  <div class="cont-img position-absolute">

                    <img src="data:img/png;base64,{{movie.Poster}}" alt="" class="img-card">

                  </div>
                  
                  <div class="cont-inf position-absolute">
                    <span class="text-sala">{{movie.ScreenName}}</span>
                    <span class="text-movie">{{movie.Title}}</span>
                    <span class="text-hora">Hora {{movie.StartTime}}</span>
                  </div>

                  <div class="cont-type position-absolute">
                    <span class="badge rounded-pill text-bg-primary badge-2">En Transcurso</span>
                  </div>
                  
                  <div class="cont-loading">
                    <div class="loading-movie">
                      <div class="loading-bar" [ngStyle]="{'width': movie.Progress + '%'}"></div>
                    </div>
                  </div>

                  <div class="cont-inf-2 position-absolute">
                    <span>Transcurrido </span>
                    <span>{{movie.Elapsed}}</span>
                  </div>

                  <div class="cont-inf-3 position-absolute">
                    <span>Restante </span>
                    <span>{{movie.Remaining}}</span>
                  </div>

                  <div class="no_sold text-center position-absolute bottom-0 start-0 w-100" *ngIf="movie.IsSold">
                    <span>No hay entradas Vendidas</span>
                  </div>
                  
                </div>
              </div>

            </div>

          </div>
        </div>

        <!-- Por Terminar --> 
        <div class="col-12 col-md-6 col-lg-4 mb-3 px-0"  *ngIf="toFinish.length > 0">
          <div class="row mx-0">

            <div class="col-12 text-center mb-4">
              <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(82, 105, 187, 1);"></div>
              <span>
                Por terminar
              </span>
            </div>

            <div class="col-12">

              <div class="card w-100 card-movie mb-3" *ngFor="let movie of toFinish" (click)="redirectToSeats(movie.FeatureId, movie.ScheduleId, movie.ScheduleDate)"  [ngClass]="{ 'noSold': movie.IsSold }">
                <div class="card-body position-relative">

                  <div class="cont-img position-absolute">

                    <img src="data:img/png;base64,{{movie.Poster}}" alt="" class="img-card">

                  </div>
                  
                  <div class="cont-inf position-absolute">
                    <span class="text-sala">{{movie.ScreenName}}</span>
                    <span class="text-movie">{{movie.Title}}</span>
                    <span class="text-hora">Hora {{movie.StartTime}}</span>
                  </div>

                  <div class="cont-type position-absolute">
                    <span class="badge rounded-pill text-bg-primary badge-3">Por Terminar</span>
                  </div>

                  <div class="cont-loading">
                    <div class="loading-movie">
                      <div class="loading-bar" [ngStyle]="{'width': movie.Progress + '%'}"></div>
                    </div>
                  </div>
                  
                  <div class="cont-inf-2 position-absolute">
                    <span>Transcurrido </span>
                    <span>{{movie.Elapsed}}</span>
                  </div>

                  <div class="cont-inf-3 position-absolute">
                    <span>Restante </span>
                    <span>{{movie.Remaining}}</span>
                  </div>
                  
                  <div class="no_sold text-center position-absolute bottom-0 start-0 w-100" *ngIf="movie.IsSold">
                    <span>No hay entradas Vendidas</span>
                  </div>
                  
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>

<app-sidebar-menu></app-sidebar-menu>
<app-loading></app-loading>