<div class="col-12 col-md-10 col-lg-10 pt-5 mx-auto" style="min-height: 100vh;">

  <!-- Logo -->
  <div class="row mx-0 mb-3">
    <div class="col-12 text-center">
      <img
        src="./images/cinestar_logo.png"
        alt="Logo de la empresa"
        class="img-logo"
      />
    </div>
  </div>

  <!-- Inputs -->
  <div class="row mx-0 mb-3">

    <div class="col-12 col-md-4 mb-3">
      
      <div class="form-group position-relative">
        <input
          id="dateInput"
          type="text"
          class="form-control"
          placeholder="dd/mm/yyyy"
          (input)="onDateInput($event)"
          autocomplete="off"
          #dateInput
        >
        <button
          class="btn btn-outline-primary position-absolute top-0 end-0"
          type="button"
          [disabled]="!isDateValid"
          (click)="searchDate(dateInput.value)"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
          </svg>
        </button>
      </div>

    </div>

    <div class="col-12 col-md-4 mb-3">

      <div class="form-group">
        <input
          id="timeInput"
          type="text"
          class="form-control"
          placeholder="hh:mm"
          (input)="onTimeInput($event)"
          autocomplete="off"
          [(ngModel)]="searchTime"
        >
      </div>

    </div>

    <div class="col-12 col-md-4 mb-3">

      <div class="form-group">
        <input
          id="movieInput"
          type="text"
          class="form-control"
          autocomplete="off"
          [(ngModel)]="searchTerm"
          placeholder="Pelicula"
        >
      </div>

    </div>
  </div>

  <!-- Peliculas -->
  <div class="row mx-0 justify-content-center" >

    <!-- Por Empezar -->
    <div class="col-12 col-md-6 col-lg-4 mb-3 px-0" *ngIf="toStart.length > 0">
      <div class="row mx-0">

        <div class="col-12 text-center mb-4">
          <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(0, 56, 255, 1);"></div>
          <span>
            Por empezar
          </span>
        </div>

        <div class="col-12">

          <div class="card w-100 card-movie mb-3" *ngFor="let movie of toStart" (click)="redirectToSeats(movie.Id, movie.Show.ScheduleId, movie.Show.ScheduleDate)">

            <div class="card-body position-relative">

              <div class="cont-img position-absolute">

                <img src="data:img/png;base64,{{movie.Poster}}" alt="" class="img-card">

              </div>
              
              <div class="cont-inf position-absolute">
                <span class="text-sala">{{movie.Show.ScreenName}}</span>
                <span class="text-movie">{{movie.Title}}</span>
                <span class="text-hora">Hora {{movie.Show.StartTime}}</span>
              </div>

              <div class="cont-type position-absolute" *ngIf="isBadge">
                <span class="badge rounded-pill text-bg-primary badge-1">Por empezar</span>
              </div>
              
              <div class="cont-inf-2 position-absolute">
                <span>Duración </span>
                <span>{{movie.Show.TotalMinutes}}</span>
              </div>

              <div class="cont-inf-3 position-absolute">
                <span>Comienza en </span>
                <span>{{movie.Show.Starts}}</span>
              </div>
              
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- En Transcurso -->
    <div class="col-12 col-md-6 col-lg-4 mb-3 px-0"  *ngIf="inProgress.length > 0">
      <div class="row mx-0">

        <div class="col-12 text-center mb-4">
          <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(170, 179, 208, 1);"></div>
          <span>
            En transcurso
          </span>
        </div>

        <div class="col-12">

          <div class="card w-100 card-movie mb-3" *ngFor="let movie of inProgress" (click)="redirectToSeats(movie.Id, movie.Show.ScheduleId, movie.Show.ScheduleDate)">
            <div class="card-body position-relative">

              <div class="cont-img position-absolute">

                <img src="data:img/png;base64,{{movie.Poster}}" alt="" class="img-card">

              </div>
              
              <div class="cont-inf position-absolute">
                <span class="text-sala">{{movie.Show.ScreenName}}</span>
                <span class="text-movie">{{movie.Title}}</span>
                <span class="text-hora">Hora {{movie.Show.StartTime}}</span>
              </div>

              <div class="cont-type position-absolute">
                <span class="badge rounded-pill text-bg-primary badge-2">En Transcurso</span>
              </div>
              
              <div class="cont-loading">
                <div class="loading-movie">
                  <div class="loading-bar" [ngStyle]="{'width': movie.Show.Progress + '%'}"></div>
                </div>
              </div>

              <div class="cont-inf-2 position-absolute">
                <span>Transcurrido </span>
                <span>{{movie.Show.Elapsed}}</span>
              </div>

              <div class="cont-inf-3 position-absolute">
                <span>Restante </span>
                <span>{{movie.Show.Remaining}}</span>
              </div>
              
            </div>
          </div>

        </div>

      </div>
    </div>

    <!-- Por Terminar --> 
    <div class="col-12 col-md-6 col-lg-4 mb-3 px-0"  *ngIf="toFinish.length > 0">
      <div class="row mx-0">

        <div class="col-12 text-center mb-4">
          <div class="rounded-circle d-inline-flex me-3 circle" style="background-color: rgba(82, 105, 187, 1);"></div>
          <span>
            Por terminar
          </span>
        </div>

        <div class="col-12">

          <div class="card w-100 card-movie mb-3" *ngFor="let movie of toFinish" (click)="redirectToSeats(movie.Id, movie.Show.ScheduleId, movie.Show.ScheduleDate)">
            <div class="card-body position-relative">

              <div class="cont-img position-absolute">

                <img src="data:img/png;base64,{{movie.Poster}}" alt="" class="img-card">

              </div>
              
              <div class="cont-inf position-absolute">
                <span class="text-sala">{{movie.Show.ScreenName}}</span>
                <span class="text-movie">{{movie.Title}}</span>
                <span class="text-hora">Hora {{movie.Show.StartTime}}</span>
              </div>

              <div class="cont-type position-absolute">
                <span class="badge rounded-pill text-bg-primary badge-3">Por Terminar</span>
              </div>

              <div class="cont-loading">
                <div class="loading-movie">
                  <div class="loading-bar" [ngStyle]="{'width': movie.Show.Progress + '%'}"></div>
                </div>
              </div>
              
              <div class="cont-inf-2 position-absolute">
                <span>Transcurrido </span>
                <span>{{movie.Show.Elapsed}}</span>
              </div>

              <div class="cont-inf-3 position-absolute">
                <span>Restante </span>
                <span>{{movie.Show.Remaining}}</span>
              </div>
              
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>

<app-sidebar-menu></app-sidebar-menu>
<app-loading></app-loading>