
/* New Sidebar */

.sidebar-new {
    height: 90vh;
    position: fixed;
    top: 5vh;
    left: 30px;
    max-width: 60px;
    background-color: white;
    padding: 30px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(1, 26, 88, 0.3);
    transition: max-width 1s ease;
    z-index: 10;
}
  
.sidebar-new:hover {
    max-width: 200px;
}
  
.top-links, .bottom-links {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre enlaces */
}
  
.sidebar-new a {
    padding: 0px 30px 0px 15px;
    display: flex;
    align-items: center; /* Alinear ícono y texto horizontalmente */
    text-decoration: none; /* Eliminar subrayado */
    color: inherit; /* Heredar el color del contenedor */
}
  
.sidebar-new img {
    width: 30px !important;
    height: auto;
    margin-right: 15px; /* Espaciado entre la imagen y el texto */
}
  
.sidebar-new span {
    color: rgba(131, 141, 161, 1);
    white-space: nowrap; /* Evitar que el texto se envuelva */
}
  

/* New Sidebar End */

/* Moboile Init */

.mobile-menu {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-radius: 30px;
    margin: 0 0 60px 0;
}

.mobile-menu a {
    color: #001A54;
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu a span {
    font-size: 0.65rem;
    margin-top: 3px;
}

.sidebar-link img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.mobile-menu img {
    width: 24px;
    height: 24px;
}

/* Mobile End */

/* Querys Ordenadas */

/* PC */
@media (min-width: 1357px) {}

/* Ipad Pro */
@media (min-width: 1024px) and (max-width: 1356px) {}

/* /Tablet/ */
@media (min-width: 768px) and (max-width: 1023px) {}

/* Telefono */
@media (max-width: 767px) {

    .mobile-menu {
        margin: 0 0 20px 0;
    }
}

/* iphone XR */
@media (max-width: 414px) {}

/* iphone 12 Pro */
@media (max-width: 390px) {}

/* iphone SE */
@media (max-width: 375px) {
    .mobile-menu {
        margin: 0 0 10px 0;
    }
}

/* Querys Ordenadas */