
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Desktop Init */

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 48px;
    min-width: 48px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-left: 14px;
    margin-top: 40px;
    margin-bottom: 8px;
    position: absolute;
    left: 2px;
    min-height: 90vh;
}

#sidebar.expand {
    width: 166px;
    min-width: 166px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 0.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
    color: #001A54; 
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
    color: #001A540A;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #ffffff;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
/* Desktop End */

/* Moboile Init */

.mobile-menu {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0; 
    border-radius: 30px;
    margin: 0 0 60px 0; 
  }

  .mobile-menu a {
    color: #001A54; 
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-menu a i {
    color: #001A54;
    font-size: 1.25rem;
  }

  .mobile-menu a span {
    font-size: 0.65rem;
    margin-top: 3px; 
  }

/* Mobile End */

/* Querys Ordenadas */

/* PC */
@media (min-width: 1357px) {

}

/* Ipad Pro */
@media (min-width: 1024px) and (max-width: 1356px){

}

/* /Tablet/ */
@media (min-width: 768px) and (max-width: 1023px){

}

/* Telefono */
@media (max-width: 767px){
  
}

/* iphone XR */
@media (max-width: 414px) {
  
}

/* iphone 12 Pro */
@media (max-width: 390px) {
 
}

/* iphone SE */
@media (max-width: 375px) {
   
}

/* Querys Ordenadas */