<div class="wrapper">
    <aside id="sidebar" [ngClass]="{'expand': isExpanded}">
      <div class="d-flex">
        <button class="toggle-btn" (click)="toggleSidebar()" type="button">
          <!-- <i class="lni lni-grid-alt"></i> -->
        </button>
        <div class="sidebar-logo">
        </div>
      </div>
      <ul class="sidebar-nav">
        
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="fa-solid fa-house"></i>
            <span>Profile</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="fa-solid fa-gear"></i>
            <span>Task</span>
          </a>
        </li>

      </ul>
      <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
       <i class="fa-solid fa-circle-question"></i>
          <span>Ayuda</span>
        </a>
      </div>

      <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="fa-solid fa-door-open"></i>
          <span>Cerrar Sesión</span>
        </a>
      </div>
    </aside>
    <div class="main p-3">
      <div class="text-center">
        <h1>
          Sidebar Bootstrap
        </h1>
      </div>
    </div>
  </div>
  