<!-- <div class="sidebarDesk d-none d-md-block position-fixed" style="top: 0;">
  <aside id="sidebar" [ngClass]="{'expand': isExpanded}">
    <div class="d-flex">
      <button class="toggle-btn" (click)="toggleSidebar()" type="button">
      </button>
      <div class="sidebar-logo">
      </div>
    </div>
    <ul class="sidebar-nav">

      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <img src="assets/icons/fluent_home-20-filled.svg" alt="Inicio" class="icon">
          <span>Inicio</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <img src="assets/icons/Mask-group.svg">
          <span>Configuración</span>
        </a>
      </li>

    </ul>
    <div class="sidebar-footer">
      <a href="#" class="sidebar-link">
        <img src="assets/icons/Vector.svg">
        <span>Ayuda</span>
      </a>
    </div>

    <div class="sidebar-footer">
      <a href="#" class="sidebar-link">
        <img src="assets/icons/solar_exit-bold.svg">
        <span>Cerrar Sesión</span>
      </a>
    </div>
  </aside>
</div> -->

<!-- <div class="sidebar-new">

  <a href="#" class="position-relative">
    <img src="assets/icons/fluent_home-20-filled.svg">
    <span>Inicio</span>
  </a>
  <a href="#" class="position-relative">
    <img src="assets/icons/Mask-group.svg">
    <span>Configuración</span>
  </a>
  <a href="#" class="position-relative">
    <img src="assets/icons/Vector.svg">
    <span>Ayuda</span>
  </a>
  <a href="#" class="position-relative">
    <img src="assets/icons/solar_exit-bold.svg">
    <span>Salir</span>
  </a>

</div> -->

<div class="sidebar-new d-none d-md-flex" >
  <div class="top-links">
    <a href="#" class="position-relative">
      <img src="assets/icons/fluent_home-20-filled.svg">
      <span>Inicio</span>
    </a>
    <!-- <a href="#" class="position-relative">
      <img src="assets/icons/Mask-group.svg">
      <span>Configuración</span>
    </a> -->
  </div>
  <div class="bottom-links">
    <!-- <a href="#" class="position-relative">
      <img src="assets/icons/Vector.svg">
      <span>Ayuda</span>
    </a> -->
    <a href="#" class="position-relative">
      <img src="assets/icons/solar_exit-bold.svg">
      <span>Salir</span>
    </a>
  </div>
</div>


<!-- Menú móvil inferior -->
<div class="container-fluid d-md-none">
  <div class="row">
    <div class="col-12">
      <div class="mobile-menu">
        <a href="#" class="col d-flex flex-column align-items-center">
          <img src="assets/icons/fluent_home-20-filled.svg">
          <!-- <span>Inicio</span> -->
        </a>
        <!-- <a href="#" class="col d-flex flex-column align-items-center">
          <img src="assets/icons/Mask-group.svg">
          <span>Configuración</span>
        </a> -->
        <!-- <a href="#" class="col d-flex flex-column align-items-center">
          <img src="assets/icons/Vector.svg">
          <span>Ayuda</span>
        </a> -->
        <a href="#" class="col d-flex flex-column align-items-center">
          <img src="assets/icons/solar_exit-bold.svg">
          <!-- <span>Salir</span> -->
        </a>
      </div>
    </div>
  </div>
</div>